[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"asn1ate" = "==0.6.*"
"pyasn1" = "==0.4.*"
Django = "==3.1.*"
celery = "==5.0.*"
django-admin-rangefilter = "==0.5.*"
django-health-check = "==3.14.*"
django-model-utils = "==4.0.*"
django-mysql = "==3.9.*"
django-redis = "==4.12.*"
django-seed = "==0.2.*"
django-wkhtmltopdf = "==3.3.*"
djangorestframework = "==3.12.*"
djangorestframework-jwt = "==1.11.*"
jdatetime = "==3.6.*"
jsonfield = "==3.0.*"
khayyam = "==3.0.*"
mysqlclient = "==2.0.*"
openpyxl = "==2.6.*"
pybrake = "==0.4.*"
pydub = "==0.24.*"
pyjwt = "==1.7.*"
pymysql = "==0.10.*"
pyparsing = "==2.4.*"
python-magic = "==0.4.*"
pytz = "==2020.*"
redis = "==3.5.*"
requests = "==2.24.*"
setproctitle = "==1.1.*"
six = "==1.15.*"
uwsgi = "==2.0.*"
websocket-client = "==0.57.*"
xlrd = "==1.2.*"
zeep = "==4.0.*"
pika = "==1.1.0"
django-recaptcha = "*"
python-barcode = "==0.13.1"
barcode = "*"

[requires]
python_version = "3.9"
