{% load i18n %}

{% with choices.0 as choice %}
    <form method="get" class="admin-numeric-filter-wrapper">
        {% for k, v in choice.request.GET.items %}
            {% if not k == choice.parameter_name|add:'_from' and not k == choice.parameter_name|add:'_to' %}
                <input type="hidden" name="{{ k }}" value="{{ v }}">
            {% endif %}
        {% endfor %}

        <h3>{% blocktrans with filter_title=title %}By
            {{ filter_title }}{% endblocktrans %}</h3>

        <div class="admin-numeric-filter-wrapper-group">
            {{ choice.form.as_p }}
        </div>

        <button
                type="submit"
                class="submit"
                style="margin: 0 0 0 11px;
                       background: #79aec8;
                       padding: 4px 5px;
                       border: none;
                       border-radius: 4px;
                       color: #fff;
                       cursor: pointer;"
        >
            {% trans 'Apply' %}
        </button>

    </form>
{% endwith %}